<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Introducción a Django</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Introducción a Django</h1>
					<h4><a href="http://www.djangoproject.com">www.djangoproject.com</a></h4>
				</section>

				<section>
					<h2>¿Qué es Django?</h2>
					<h4>Django es...</h4>
					<p>un framework web desarrollado en python.</p>
					<p>rápido</p>
					<p>seguro</p>
					<p>escalable</p>
				</section>
				
				<section>
					<section><h2>Requerimientos</h2></section>
					<section>
						<h3>Python 3.5 o superior</h3>
						<p>Descargable desde <a href="https://www.python.org">https://www.python.org</a></p>
						<p>Se instala junto con pip que es un manejador de paquetes (composer)</p>
					</section>
					<section>
						<h3>Virtualenv</h3>
						<p>Es un entorno virtual para encapsular proyectos y sus dependencias</p>
						<p>Se instala con pip (el manejador de paquetes que trae python)</p>
						<pre><code>pip install virtualenv</code></pre>
					</section>
				</section>

				<section>
					<section><h2>Crear un proyecto</h2></section>
					<section>
						<h3>Crear el entorno virtual</h3>
						<pre><code>virtualenv -p ${python_path} .virtualenv --no-site-packages</code></pre>
						<p>Este comando crea un entorno virtual <code>.virtualenv</code> en la carpeta donde estemos parados</p>
						<p>El flag <code>--no-site-packages</code> hace que no herede ningún paquete instalado globalmente</p>
						<p>Virtualenv crea una copia de python que indicamos (podriamos tener distintas versiones) además de otras utilidades como pip</p>
						<p><small><code>.virtualenv</code> es un nombre arbitrario, podría tener cualquier nombre</small></p>
						<p><small>Esta carpeta no se versiona</small></p>
					</section>
					<section>
						<h3>Activar el entorno virtual</h3>
						<p>Windows</p>
						<pre><code>.virtualenv/Scripts/activate</code></pre>
						<p>Unix</p>
						<pre><code>source .virtualenv/bin/activate</code></pre>
					</section>
					<section>
						<h3>Instalación de Django</h3>
						<pre><code>pip install django</code></pre>
						<p>Al igual que composer, descarga la última versión y la guarda en la carpeta del virtualenv</p>
					</section>
					<section>
						<h3>Creación de proyecto</h3>
						<pre><code>django-admin startproject ${nombre} ${directorio}</code></pre>
						<pre><code>django-admin startproject egosite .</code></pre>
						<img src="img/screen01.png">
					</section>
				</section>

				<section>
					<section><h2>Primeros pasos</h2></section>
					<section>
						<h3>Crear App</h3>
						<pre><code>manage.py startapp ${nombre_app}</code></pre>
						<pre><code>manage.py startapp blog</code></pre>
						<img src="img/screen02.png" alt="">
					</section>
					<section>
						<h3>Activar App</h3>
						<p>agregar a la lista de INSTALLED_APPS en settings.py</p>
						<pre>
							<code data-trim data-noescape>
								INSTALLED_APPS = [
									'django.contrib.admin',
									'django.contrib.auth',
									'django.contrib.contenttypes',
									'django.contrib.sessions',
									'django.contrib.messages',
									'django.contrib.staticfiles',
									'blog',
								]
							</code>
						</pre>
					</section>
					<section>
						<h3>Crear Modelos</h3>
						<p>Se definen dentro del archivo <code>models.py</code></p>
						<pre class="stretch">
							<code class="stretch" data-trim data-noescape>
								class Category(models.Model):
									name = models.CharField(max_length=100)

								class Article(models.Model):
									title = models.CharField(max_length=200)
									subtitle = models.CharField(max_length=200, null=True, blank=True)
									body = models.TextField()
									author = models.CharField(max_length=100, null=True, blank=True)
									publish_datetime = models.DateTimeField()
									category = models.ForeignKey(
										Category,
										related_name='articles',
										on_delete=models.deletion.CASCADE
									)

							</code>
						</pre>
					</section>
					<section>
						<h3>Migraciones</h3>
						<p>Buscamos modelos sin migrar</p>
						<pre><code>manage.py makemigrations</code></pre>
						<p>Ejecutamos las migraciones</p>
						<pre><code>manage.py migrate</code></pre>
						<p></p>
						<p><small>En este caso se creo una base de datos SQLite <code>db.sqlite3</code></small></p>
					</section>
					<section>
						<h3>Administrador</h3>
						<p>En el archivo <code>admin.py</code></p>
						<p>Importamos los modelos</p>
						<pre><code>from .models import Category, Article</code></pre>
						<p>Los registramos</p>
						<pre>
							<code data-trim data-noescape>
								admin.site.register(Category)
								admin.site.register(Article)
							</code>
						</pre>
					</section>
					<section>
						<h4>Crear super usuario</h4>
						<pre><code>manage.py createsuperuser</code></pre>
						<p>Este wizard crea un usuario con permisos de superadmin</p>
					</section>
					<section>
						<h4>Cargar datos en el admin</h4>
						<p>Primero ejecutamos el servidor de desarrollo</p>
						<pre><code>manage.py runserver</code></pre>
						<p>Accedemos al admin <a href="http://localhost:8000/admin">http://localhost:8000/admin</a></p>
						<p>Ya deberian estar habilitados los modelos que creamos y registramos</p>
					</section>
					<section>
						<h4>Vistas</h4>
						<p>En el archivo <code>views.py</code> creamos la funcón que será la vista</p>
						<pre>
							<code data-trim>
								from .models import Article

								def index(request):
									articles = Article.objects.all()
									context = {
										'articles': articles
									}
									return render(request, 'blog/index.html', context)
							</code>
						</pre>
					</section>
					<section>
						<h4>Templates</h4>
						<p>Creamos el archivo blog/templates/blog/index.html con este código</p>
						<pre>
							<code data-trim>
								{% for article in articles %}
								<div class="article">
									<div class="title">{{ article.title }}</div>
									{% if article.subtitle %}
									<div class="subtitle">{{ article.subtitle }}</div>
									{% endif %}
									<div class="body">{{ article.body }}</div>
									<div class="footer">
										Publicado por {{ article.author|default:"Anónimo" }} en {{ article.category.name }} el {{ article.publish_datetime }}
									</div>
								</div>
								{% endfor %}
							</code>
						</pre>
					</section>
					<section>
						<h4>URLs (routing)</h4>
						<p>Agregamos la ruta a nuestra vista en el archivo urls.py del proyecto</p>
						<pre>
							<code data-trim>
								from blog import views as blog_views

								urlpatterns = [
									path('', blog_views.index),
									path('admin/', admin.site.urls),
								]
							</code>
						</pre>
					</section>
					<section>
						<p>Podemos ver nuestra vista en <a href="http://localhost:8000">http://localhost:8000</a></p>
					</section>
				</section>
				<section>
					<h2>Mejoras</h2>
					<p class="fragment fade-up">Los modelos deberían tener un método de representacion <code>__str__</code></p>
					<p class="fragment fade-up">En <code>admin.py</code> se pueden agregar funcionalidades extra</p>
					<p class="fragment fade-up">Las urls deberían pertenecer a la app en vez de estar en el archivo principal</p>
				</section>
				<section>
					<h2>Mas información</h2>
					<p><a href="http://www.djangoproject.com">http://www.djangoproject.com</a> - Sitio oficial de Django con excelente documentación</p>
					<p><a href="https://djangopackages.org/">https://djangopackages.org/</a> - Repositorio curado de paquetes para Django. Incluye matrices de paquetes comunes</p>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
